body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
}

header {
    flex: 0 80px;
}

main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

footer {
    flex: 0 30px;
}

menu {
    flex: 1;
    display: flex;
    /*  overwrite Bootstrap so the menu does not wrap */
    flex-direction: row !important;
    list-style: none;
}

h1 {
    color: rgb(45, 210, 175);
}

h2 {
    color: rgb(210, 45, 80);
}

label {
    color: rgb(255, 255, 255);
}

.btn-primary {
    padding: 5px 10px;
    font-size: 14px;
    text-align: center;
    border: none;
    border-radius: 3px;
    color: #FFFFFF;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.25);
}

.btn-large {
    padding: 10px 20px;
    font-size: 18px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

p {
    color: rgb(255, 255, 255);
}

.post {
    border: 1px solid #ccc;
    margin: 2em;
    padding: 1em;
}
.post-info {
    display: flex;
    justify-content: space-between;
}
.author {
    font-style: italic;
}
.upvote-btn:before {
    background-color: #2dd2af;
    color: #fff;
    padding: 5px;
    content: "\2191";
    border-color:   #2dd2af;
}

.downvote-btn {
    box-sizing: border-box;
    height: 5vw;
    width: 5vw;
    border-style: solid;
    border-color: white;
    border-width: 0px 1px 1px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
}